
.nav{
	text-decoration: none;
	font-size: .75rem;
}


.copyright{
	font-size: .65rem;
	color:black;
	width:50%;
}

/*.social{
	display:block;
}

.social li{
	display:inline-block;
}

.social li a,
.social li a:link,
.social li a:visited{
	display:block;
	height:30px;
	width: 30px;
	text-align: center;
	color: black;
}
*/
