
/*Small Screen* 250px*/
@media only screen and (max-width: 300px ){
  .searchform{
  	display:none;
  }
}


/*Medium Screen Size 480 px*/
@media only screen and (min-width: 30em){


.medium{
	left:5%;
	}


.nav-m{
float:left;
position:relative;
}


.product-m{
	padding: .75rem;
	width: 55%;
	margin-left: .5rem;
	display: block;
}

.searchform{
	max-width:500px;
	clear: both;

}

}

@media only screen and (max-width: 780px){
	.searchform{
		margin-top: 2rem;
	}
}
/*Large Screen Size*/
@media only screen and (min-width: 50em ){

.nav-l{
	font-size: 1.25rem;
	color:red;

}

.large{
	left:50%;

	}

.l-right{
		float: right;
		widows: 50%;
		color:red;
	}

.product-l{
	padding: .75rem;
	float: left;
	width: 31%;
	margin-left: 5rem;
}

}
