header{
	margin: .5rem;
	display:block;
	width:100%;
}

.logo{
	border-radius: 60px;
	position:relative;
	display:inline-block;
	float:left;
	overflow:hidden;
}

.logo-name{
	width:50%;
	position:fixed;
}

h1{
	font-size: 1.25rem;
	margin-bottom: 0;
	margin-top: .75rem;
	margin-left: 1.5rem;
	display: inline-block;
	float:left;
}

.nav{
	display:block;
	overflow: hidden;
	font-size: 1rem;
}

.nav-ul{
margin-left:-15rem;
}

a,
a:link {
	text-decoration: none;
	border-bottom:none;
	float:right;
	padding:.75rem;
	margin-bottom: 1rem;

}

a:visited {
	color:purple;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
}


.searchform{
	margin-top: 1rem;
	width:80%;
	height: 10%;
	float:left;
	left:1%;
	position:relative;
}
