header{
	margin: .5rem;
	display:block;
	width:100%;
}

.logo{
	border-radius: 60px;
	position:relative;
}

h1{
	font-size: 1.25rem;
	margin-bottom: 0;
	margin-top: 0;
	display: inline-block;
}

.nav{
	display:block;
	color:limegreen;
	overflow: hidden;
	font-size: 1rem;

}

a,
a:link {
	text-decoration: none;
	border-bottom:none;
	float:right;
	padding:.75rem;
	margin-bottom: 1rem;

}

a:visited {
	color:purple;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
}


.searchform{
	margin-top: 1rem;
	width:55%;
	height: 10%;
	float:left;
	left:1%;
	position:relative;
}
