header{
/*	margin: .5rem;
*/	display:block;
	width:100%;
}

.banner{
background: url("../images/banner.jpg") no-repeat center center;
text-align: center;

}

.current{
	background-color: skyblue;
}
.masthead{
	background-color: pink;
}
.logo{
	border-radius: 60px;
	display:inline-block;
	float:left;
}

.logo-name{
	width:100%;
	position:fixed;
	margin-bottom: 1.5rem;
	display:inline-block;
}

h1{
	font-size: 1.25rem;
	margin-bottom: 1rem;
	margin-top: .75rem;
	margin-left: 1.5rem;
	display: block;
	float:left;
}

.nav{
	display:block;
	overflow: hidden;
	font-size: 1rem;
	margin-top: .5rem;
}

.nav-ul{
	margin-left:-15rem;
}

a,
a:link {
	text-decoration: none;
	border-bottom:none;
	float:right;
	padding:.75rem;
	margin-bottom: 1rem;

}

a:visited {
	color:purple;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
}


.searchform{
	margin-top: .25rem;
	width:90%;
	height: 10%;
	float:left;
	position:relative;
}
/*
.masthead{
	background-color: #f16357;
}
*/

