/*html{
	width:100%;
}*/

.price{
display: block;
position: absolute;
margin-top: 11rem;
margin-left: 12rem;
}

.product{
	padding: .75rem;
	margin-left: .5rem;
	margin-bottom: 1rem;
	float:right;
}

/*.tiny-text{
	margin-top: 1rem;
	position: absolute;
}
*/

