html{
	width:100%;
}
.price{
	float:right;
	display: block;
	margin-bottom: .75rem;
	margin-right: 1.75rem;
}

.product{
	border: 4px solid royalblue;
	padding: .75rem;
	margin-left: .5rem;
	margin-bottom: 1rem;
}
