.product{
	background-color: blue;
	width:50%;
}

.media{
	width:50%;
}





/*
.large-bucket{
	display:block;
	margin-left: 1rem;
	clear:both;
	position: absolute;
}

.small-bucket{
	float: right;
	margin-left: 60%;
	margin-right: 2rem;
	border: 2px solid black;
	overflow:hidden;
	margin-top: -55rem;

}

.left-small-bucket{
	float: left;
	display: inline-block;
	margin-left: 1rem;
	margin-top: 50rem;
}

.product-s{
	background-color: purple;
}

.promo-small{
	margin: 1rem;
	background-color: blue;
	width:80%;
}

.promo-img-s{
	margin:1rem;
	width:90%;
}

.promo-info{
	background-color: green;

}



.media-img{
	width:50%;
	background-color: red;
}
*/
