.promo-product{
	background-color: lightsteelblue;
	padding:.5rem;
	margin:1rem;
}

.promo-small{
	background-color: lightgrey;
	margin:1rem;
}

.promo-img-s{
	width:40%;
	border:6px solid lightsteelblue ;

}

.item{
	clear:left;
	position:relative;
	float:left;
}

.item-shoes{
	display: inline-block;
}

.img-shoes{
	width:90%;
	margin:.70rem;
}

.img-heels{
	width:90%;
	margin:.70rem;
}

.img-sandals{
	width:90%;
	margin:.70rem;
}

.img-boot{
	width:90%;
	margin:.70rem;
}

.img-sneakers{
	margin:.70rem;
}

.promo-content{
	margin:.75rem;
	max-width:15.75rem;

}


.promo{
	float:left;
}

.promo-left{
	float:left;
}

.img{
	padding:.5rem;
	margin: .25rem;
}

.promo-group{
	list-style-type: none;
	display:inline-block;
}



.large-bucket{
	display:block;
	margin-left: 1.25rem;
	clear:both;
	position: absolute;
}

.small-bucket{
	float: right;
	margin-left: 60%;
	margin-right: 2rem;
	border: 2px solid black;
	overflow:hidden;
	margin-top: -55rem;

}

.left-small-bucket{
	float: left;
	display: inline-block;
	margin-left: 1rem;
	margin-top: 50rem;
}

/*.product-s{
	background-color: purple;
}

.promo-small{
	margin: 1rem;
	background-color: blue;
	width:80%;
}

.promo-img-s{
	margin:1rem;
	width:90%;
}

.promo-info{
	background-color: green;

}



.media-img{
	width:50%;
	background-color: red;
}

*/
