# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- Grant(tabbing)
- Rudy(tabbing)
- {kayla}(voice over)
- {Sasha (tabbing)}
- {Todd Doe}
- {Taylor Doe}

## Tasks

1. find the check-out/cart page
2. go to buy now button
3. type something in search bar

---

## Individual Results & Observations

### {Grant}

- tab to cart page
- tabs to the buy now button
- tabs to the search bar button and than type and hits enter

### {Rudy}

- {tabs to cart page}
- {tabs to buy now button}
- tabs to search bar, than types sometime into the search bar.

### {kayla}

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

### {Sasha}

- {tabs to cart page}
- {tabs to buy now button}
- tabs to search bar, than types sometime into the search bar.

### {Todd Doe}

- {He completed the task as expected…}
- {He had troubles completing a specific task…}
- etc.

### {Taylor Doe}

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.
