---
layout: default
title: Cart
meta: Shopping items
showbanner: no
bannertext: Items
---

<h1>Shoes and Heels Bag items</h1>

  <div class="product product-m product-l">
    <div class="media media-img ">
      {% include promo-small.html title="item 1" desc="High heels hand made with beer bottle caps" image="beer-cap-2.jpg" %}
    </div>
    <div>
    <a class="btn giga" href="{{site.baseurl}}/thank-you/"> Buy NOW</a>
    <div>
  </div>

  <div class="product product-m product-l">
    <div class="media media-img ">
      {% include promo-small.html title="item 2" desc="High heels hand made with beer bottle caps" image="beer-cap-2.jpg" %}
    </div>
    <div>
    <a class="btn giga" href="{{site.baseurl}}/thank-you/"> Buy NOW</a>
    <div>
  </div>


