---
layout: default
title: Home
meta: "Awesome shoes that you can wear forever"
showbanner: yes
bannertext: Footwear sale!
---
<main role="main">
	<h1>if the shoe fits</h1>

		<div class="grid">

<!-- LARGE PROMO 1  -->
			<div class="promo-large-img">
				{% include promo-large.html title="Shoes on Sale" image="large-promo.jpg" %}

<!-- 				<div>
		    <a class="btn giga" href="{{site.baseurl}}/cart/"> Buy NOW</a>
		    </div>
 -->
			</div>

<div class="grid grid2">
<!-- HIGH HEELS PROMO 2 -->
			<div class="promo-m unit unit-s-1 unit-m-1-2 unit-l-1-3">
				{% include promo-small.html title="Heels" desc="Different kinds of High heels from short-tall" image="high-heels.jpg" url="shoes/" %}

				<div>
		    <a class="btn giga" href="{{site.baseurl}}/shoes/high-heels"> HIGH HEELS</a>
		    </div>

			</div>

<!-- RAIN BOOTS PROMO 3 -->
			<div class="promo-m unit unit-s-1 unit-m-1-2 unit-l-1-3">
				{% include promo-small.html title="Boots" desc="Different kinds of boots" image="rain-boots.jpg" url="shoes/" %}

				<div>
		    <a class="btn giga" href="{{site.baseurl}}/cart/"> Buy NOW</a>
		    </div>

			</div>

<!-- FLATS PROMO 4 -->
			<div class="promo-m unit unit-s-1 unit-m-1-2 unit-l-1-3 ">
				{% include promo-small.html title="flats" desc="Different kinds of boots" image="flats.jpg" url="shoes/" %}

				<div>
		    <a class="btn giga" href="{{site.baseurl}}/cart/"> Buy NOW</a>
		    </div>

			</div>

<!-- SNEAKERS PROMO 5 -->
			<div class="promo-m unit unit-s-1 unit-m-1-2 unit-l-1-3">
				{% include promo-small.html title="Sneakers" desc="Different kinds of sneakers" image="sneakers.jpg" url="shoes/" %}

				<div>
		    <a class="btn giga" href="{{site.baseurl}}/cart/"> Buy NOW</a>
		    </div>

			</div>
<!-- SANDALS PROMO 6 -->
			<div class="promo-m unit unit-s-1 unit-m-1-2 unit-l-1-3">
				{% include promo-small.html title="Sandals" desc="Sandals for the summer" image="sandals.jpg" url="shoes/" %}

				<div>
			  <a class="btn giga" href="{{site.baseurl}}/cart/"> Buy NOW</a>
			  </div>

			</div>
</div>


	<p class="unit-s-1"> Our shoes are well designed, different and got interesting art to it. </p>
</main>
