---
layout: default
title: Home
meta: "Beautiful Heels made from wonderful materials"
showbanner: yes
bannertext: SHOES FOR LIFE!
---
<main role="main">
	<h1>Beautiful Shoes and Heels</h1>

		<div class="product-s product-m product-l">
			<div class="media media-img-s ">
				{% include promo-small.html title="kitten heels" desc="black kitten High heels" image="kitten-heels.jpg" %}
			</div>

			<!-- <div>
	    <a class="btn giga" href="{{site.baseurl}}/cart/"> Buy NOW</a>
	    </div>
		</div>

		<div class="product product-m product-l">
			<div class='media media-img'>
				{% include promo-small.html title="Kitten Heels" desc="a cute pair of shoes made with neon coloured straws" image="kitten-heels.jpg" %}
			</div>
			<div>
	    <a class="btn giga" href="{{site.baseurl}}/cart/"> Buy NOW</a>
	    </div>
		</div>

		<div class="product product-m product-l">
			<div class='media media-img'>
				{% include promo-large.html title="Foam" desc="Cute high schools made with square foam pieces!" image="kitten-heels.jpg" %}
			</div>
			<div>
	    <a class="btn giga" href="{{site.baseurl}}/cart/"> Buy NOW</a>
	    </div>
		</div> -->

	<p class="info product product-m product-l"> Our shoes are well designed, different and got interesting art to it. </p>
</main>
