---
layout: default
title: Home
meta: "Awesome shoes that you can wear forever"
showbanner: yes
bannertext: Footwear sale!
---
<main role="main">
	<h1 class="yotta">Shoes that you will fall for</h1>

	<div class="grid">

<!-- LARGE PROMO 1  -->
			<div class="promo-large-img unit unit-s-1 unit-m-1">
				{% include promo-large.html title="Shoes on Sale" desc="Shoes are on sale from 20-40% off. Our shoes are well designed, different and got interesting art to it." image="shoe-banner.jpg" %}


			</div>
	</div>
<div class="grid grid2">
<!-- HIGH HEELS PROMO 2 -->
			<div class="promo-m unit unit-s-1 unit-m-1-2 unit-l-1-4">
				{% include promo-small.html title="Heels" desc="Pretty in pink mid heel, 20% off" image="high-heels.jpg" url="shoes/high-heels" %}

				<div>
			    <a class="btn2 zeta" href="{{site.baseurl}}/shoes/high-heels">BUY NOW</a>
		    </div>

<!-- this brings to one of the High-heels md file -->
<!-- 				<div>
		    <a class="btn giga unit-offset-s-3-4" href="{{site.baseurl}}/shoes/high-heels"> HIGH HEELS</a>
		    </div> -->

			</div>

<!-- FLATS PROMO 3 -->
			<div class="promo-m unit unit-s-1 unit-m-1-2 unit-l-1-4 ">
				{% include promo-small.html title="flats" desc="Casual pastic rubber dress flats. 25% off" image="flats.jpg" url="shoes/" %}

				<div>
		    <a class="btn2 zeta" href="{{site.baseurl}}/cart/"> BUY NOW</a>
		    </div>

			</div>

<!-- RAIN BOOTS PROMO 4 -->
			<div class="promo-m unit unit-s-1 unit-m-1-2 unit-l-1-4">
				{% include promo-small.html title="Boots" desc="Rubber boots for a rainy day. 30% off." image="rain-boots.jpg" url="shoes/" %}

				<div>
		    <a class="btn2 zeta " href="{{site.baseurl}}/cart/"> BUY NOW</a>
		    </div>

			</div>

<!-- SNEAKERS PROMO 5 -->
			<div class="promo-m unit unit-s-1 unit-m-1-2 unit-l-1-4">
				{% include promo-small.html title="Sneakers" desc="shoes that are made for running. last year's season. 40% off." image="sneakers.jpg" url="shoes/sneakers/" %}

				<div>
		    <a class="btn2 zeta" href="{{site.baseurl}}/cart/"> BUY NOW</a>
		    </div>

			</div>
<!-- SANDALS PROMO 6 -->
			<div class="promo-m unit unit-s-1 unit-m-1-2 unit-l-1-4">
				{% include promo-small.html title="Sandals" desc="Sandals for the summer.35% off." image="sandals.jpg" url="shoes/" %}

				<div>
			  <a class="btn2 zeta" href="{{site.baseurl}}/cart/"> BUY NOW</a>
			  </div>

			</div>
</div>

</main>
