---
layout: default
---
<h1>SEARCH INFO PAGE</h1>
<div class="grid2">
		<div class="unit unit-s-1 unit-m-2-3 unit-l-1-3">
		{% include promo-small.html title="Sneakers" image="sneakers.jpg" url="shoes/sneakers/" %}
		</div>

		<div class="unit unit-s-1 unit-m-2-3 unit-l-1-3">
		{% include promo-small.html title="flats" image="flats.jpg" url="shoes/flats/" %}
		</div>

		<div class="unit unit-s-1 unit-m-2-3 unit-l-1-3">
		{% include promo-small.html title="Sandals"  image="sandals.jpg" url="shoes/sandals/" %}
		</div>

		<div class="unit unit-s-1 unit-m-2-3 unit-l-1-3">
		{% include promo-small.html title="Heels" image="high-heels.jpg" url="shoes/high-heels/" %}
		</div>
  </div>
