# User Testing Report

User testing was conducted by Elisa on Monday, March 24, 2014 between the times of 8:00 am and 11:00am with the following participants:

- Emma Mcinall
- Rudy Gordon
- Kayla Araujo

## Tasks

1. Find the about page
2. Go to Check-out Page
3. search for product

---

## Individual Results & Observations

### Emma Mcinall

- She clicked on the about link
- browse for the checkout page
- asks how to get to checkout page, because product link wasn't linked properly and the Buy no button


### Rudy Gordon

- Clicks on the about link
- clicks the home page and scrolls down to the buy now button
- clicks on links as he scrolls down to see if it works
- clicks on bottom link and brings him to the check out page
- types something in search bar


### Kayla Araujo

- she clicks on the link
- clicks on the logo to try and get back on the home page
- gives me suggestions
- scrolls and looks for a button, clicks on link
- types in on search bar and brings to page

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.
