<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Header</title>
  <link href='http://fonts.googleapis.com/css?family=Jura:500,600,400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,400italic,100italic,700italic,700,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/typography.css">
	<link rel="stylesheet" href="../css/forms.css">
	<link rel="stylesheet" href="../css/product-list.css">
	<link rel="stylesheet" href="../css/buttons.css">
	<link rel="stylesheet" href="../css/media-objects.css">
	<link rel="stylesheet" href="../css/list-group.css">
	<link rel="stylesheet" href="../css/promo.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/grid.css">
	<link rel="stylesheet" href="../css/header.css">
</head>


<body>
<!-- Logo -->

<header class="nav nav-m nav-l masthead" role="banner">

<div class="logo-name">
	<img class="logo medium large" src="http://placehold.it/60x60" alt="EK Shoes company logo">
	<h1>EK•Shoes. Co</h1>
</div>

<div class="search-bar" role="search">
	<form method="get" class="searchform cf" action="{{site.baseurl}}/search/">
		<input type="text" placholder="Search here...">
		<button id="submit" type='submit' value="search">Search</button>
	</form>
</div>

<div class="nav-ul" role="navigation">
	<div class="grid">
		<nav class="links">
			<ul class="giga">
				<li>
					<a class="{% if page.url =="/cart/" %}current{% endif %}" href="{{site.baseurl}}/cart/">Cart</a>
				</li>

				<li>
					<a class="{% if page.url =="/shoes/" %}current{% endif %}" href="{{site.baseurl}}/shoes/">Products</a>
				</li>

				<li>
					<a class="{% if page.url =="/about/" %}current{% endif %}" href="{{site.baseurl}}/about/">About</a>
				</li>

				<li>
					<a class="{% if page.url =="/" %}current{% endif %}" href="{{site.baseurl}}/">Home</a>
				</li>
			</ul>
		</nav>
	</div>
</div>

</header>



</body>
</html>
