
/*basic search bar look*/
.cf:before,
.cf:after{
	content:'';
	display: table;
}

.cf:after{
	clear: both;
}

.cf{
	zoom:1;
}

/*Search styling*/
.searchform{
	background:steelblue;
	background:rgba(244,244,244,.79);
  border: .5px solid #d3d3d3;
  margin: 1rem;
  background: #444;
  background: rgba(0,0,0,.2);
  border-radius: 5px;
  box-shadow: 0 2px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
  padding:.25rem;
  width:50%;

}

/*text input*/
.searchform input{
  width: 72%;
  height: 1.75rem;
  float: left;
  font:15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #eee;
  border-radius: 7px 0 0 7px;


}

/* search bar submit button */
.searchform button {
overflow: hidden;
position: relative;
float: right;
right: 1px;
border: 0;
height: 1.85rem;
width: 5.5rem;
font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
color: #fff;
text-transform: uppercase;
background: #d83c3c;
border-radius: 0 6px 6px 0;
text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
width: 25%;
}
