---
layout: default
title: High Heels
meta: "Beautiful Heels made from wonderful materials"
showbanner: yes
bannertext: HIGH HEELS
---
<!-- this page should list all the different kinds of heels sold!!! -->
<h1>SOOOO HIGH-HEELS</h1>


<p class="info product product-m product-l"> THIS IS A LIST OF ALL THE HIGH HEELS. CLICK TO GO TO PRODUCT DETAILS </p>

<ul>
	{% for shoes in site.pages %}
		{% if shoes.shoe_type == "heels" %}
			<li>
				<a href="{{site.baseurl}}{{shoes.url}}">
					<img src="{{site.baseurl}}/images/{{shoes.image}}" alt="">
					{{shoes.name}}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>

			<div>
		    <a class="btn giga unit-offset-s-3-4" href="{{site.baseurl}}/shoes/high-heels"> HIGH HEELS</a>
	    </div>
