---
layout: default
title: Home
meta: "Beautiful Heels made from wonderful materials"
showbanner: yes
bannertext: HIGH HEELS
---

<h1>High heels</h1>



<p class="info product product-m product-l"> Our shoes are well designed, different and got interesting art to it. </p>

<ul>
	{% for shoes in site.pages %}
		{% if shoes.shoe_type == "heels" %}
			<li>
				<a href="{{site.baseurl}}{{shoes.url}}">
					<img src="{{site.baseurl}}/images/{{shoes.image}}" alt="">
					{{shoes.name}}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
