---
layout: default
title: Home
meta: "Cool Kicks, pro basketball sneakers."
showbanner: yes
bannertext: cool kicks
---

<!-- clicked on sneaker promo on home page and brought to here. -->

<h1>Cool Kicks</h1>

<p class="info product product-m product-l"> Our shoes are well designed, different and got interesting art to it. </p>

<ul>
	{% for shoes in site.pages %}
		{% if shoes.shoe_type == "sneaker" %}
			<li>
				<a href="{{site.baseurl}}{{shoes.url}}">
					<img src="{{site.baseurl}}/images/{{shoes.image}}" alt="">
					{{shoes.name}}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
