<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} Heels & Shoes</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Jura:500,600,400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,400italic,100italic,700italic,700,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{site.baseurl}}/css/typography.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/forms.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/product-list.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/buttons.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/media-objects.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/list-group.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/promo.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/common.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/grid.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/header.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/footer.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<header class="nav nav-m nav-l masthead">
<div class="logo-name ">
	<img class="logo medium large" src="http://placehold.it/60x60" alt="logo">
	<h1>EK•Shoes. Co</h1>
</div>

<div class="nav-ul">
<nav>
	<ul class="giga">
		<li>
			<a class="{% if page.url contains "shoes"=="/" %}current{% endif %}" href="{{site.baseurl}}/">Home</a>
		</li>

		<li>
			<a class="{% if page.url =="/" %}current{% endif %}" href="{{site.baseurl}}/about/">About</a>
		</li>
<!--
		<li>
			<a class="{% if page.url =="/" %}current{% endif %}" href="{{site.baseurl}}/shoes/index/">Products</a>
		</li> -->

		<li>
			<a class="{% if page.url =="/" %}current{% endif %}" href="#">Sign IN</a>
		</li>

	</ul>
</nav>
</div>


<div class="search-bar">
	<form method="get" class="searchform cf" action="{{site.baseurl}}/search/">
		<input id="search" type="text" placholder="Search here...">
		<button id="submit" type='submit' value="search">Search</button>
	</form>
</div>

</header>

{% if page.showbanner %}
<div class="banner">
	<h1>{{page.bannertext}}</h1>
</div>
{% endif %}

{{content}}

<footer class="">
<div class="nav-ul">
<nav>
	<ul class="social" >

		<!-- icon 1 -->
		<li><a href="#"><i class="fa fa-google-plus"></i>
		<span class='hide-text'>google plus</span>
		</a>
		</li>

		<!-- icon 2 -->
		<li><a href="#"><i class="fa fa-facebook"></i>
		<span class='hide-text'>Facebook</span>
		</a>
		</li>

		<!-- icon 3 -->
		<li>
		<a href="#"><i class="fa fa-twitter"></i>
		<span class='hide-text'>Twitter</span>
		</a>
		</li>

	</ul>
</nav>
</div>
	<p class="copyright">Copyright &copy; 2014 EK•Shoes. Co</p>
</footer>

</body>
</html>
