---
layout: default
---

<h1>{{page.name}}</h1>
<img src="{{site.baseurl}}/images/{{page.image}}">
<p> Different colour, type and style of boots that would look well with your clothes!</p>

<ul class="grid2">
	{% for shoes in site.pages %}
		{% if shoes.category == "boots" %}
			<li class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
				<a class="product-link" href="{{site.baseurl}}{{shoes.url}}">{{shoes.name}}
					<img src="{{site.baseurl}}/images/{{shoes.image}}" class="img-flex" alt="different shoe types">

				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>

{{content}}
